:root {
    --bg: #020617;
    --box: #0f172a;
    --txt: #ffffff;
}

.light {
    --bg: #f1f5f9;
    --box: white;
    --txt: black;
}

body {
    margin: 0;
    font-family: Arial;
    background: var(--bg);
    color: var(--txt);
}


.top {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}


.g {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding: 20px;
}


.l {
    background: var(--box);
    padding: 20px;
    height: 400px;
}


.r {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 20px;
}

.c {
    background: var(--box);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
